:root {
    --titanium: #F4F5F6;
    --carbon: #0D0E15;
    --volt: #D1FF00;
    --steel: #D9E0E4;
    --graphite: #1A1D1A;
    --white: #FFFFFF;

    --ease-silk: cubic-bezier(0.16, 1, 0.3, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background: var(--titanium);
    color: var(--carbon);
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}

img {
    display: block;
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    font-family: inherit;
    border: none;
    background: none;
    cursor: pointer;
    color: inherit;
}

.mono {
    font-family: 'JetBrains Mono', monospace;
}